<h1>Listing twitters</h1>

<table>
  <tr>
    <th>Tweet</th>
    <th>Author</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @twitters.each do |twitter| %>
  <tr>
    <td><%= twitter.Tweet %></td>
    <td><%= twitter.Author %></td>
    <td><%= twitter.Location %></td>
    <td><%= link_to 'Show', twitter %></td>
    <td><%= link_to 'Edit', edit_twitter_path(twitter) %></td>
    <td><%= link_to 'Destroy', twitter, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Twitter', new_twitter_path %>
